$primary-color: #778699;
$primary-color-2: #9696a0;
$icon-color: #72809d;
$active-color: #006fd6;
$active-background: #deefff;

$container: 0 2rem;

$normal-font: 100;
$regular-font: 500;
$bold-font: 600;
