@import "../../styles/global";
@import "../../styles/variables";

.dashboardentries {
  width: 100%;
  //   padding: 1rem;
  box-shadow: 40px 4px 30px rgba(192, 192, 192, 0.25);

  &__header {
    background: #f3f6f9;
    color: #899198;
    font-weight: normal;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 0.2fr;
    grid-gap: .2rem;
    align-items: center;
    padding: 1rem;
    font-size: 0.8rem;

    &__options {
      display: flex;
      align-items: center;

      :nth-child(2) {
        margin: 0 2rem;
        visibility: hidden;
      }
    }

    & > :last-child {
      visibility: hidden;
    }

    input[type="checkbox"] {
      -ms-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      padding: 10px;
    }
  }
}
