@import "../src/styles/global";
@import "../src/styles/variables";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: ProductSans, sans-serif;
  font-weight: $normal-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
